<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Studly</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Studly</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">All Events</a></li>
            <li><a href="myevents">My Events</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/zachwhaley/studly/">Fork us!</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div id="events" class="list_group"></div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
      $.getJSON("get-mappings.json", function(evts) {
        $.each(evts, function(i, evt) {
          $("#events")
          .append($('<a>')
            .attr("class", "list-group-item active")
            .attr("href", evt.htmlLink)
            .append($('<h3>')
              .attr("class", "list-group-item-heading")
              .text(evt.title)
            )
          )
          $.each(evt.reflectorList, function(i, email) {
            $("#events")
            .append($('<div>')
              .attr("class", "list-group-item")
              .text(email)
            );
          });
          $("#events")
          .append($('<div>')
            .attr("class", "list-group-item")
            .append($('<div>')
              .attr("class", "row")
              .append($('<form>')
                .attr("class", "form-inline")
                .attr("action", "join-event")
                .attr("method", "POST")
                .attr("role", "form")
                .append($('<div>')
                  .attr("class", "col-md-9")
                  .append($('<div>')
                    .attr("class", "form-group")
                    .append($('<label>')
                      .attr("class", "sr-only")
                      .attr("for", "newEmail")
                      .text("Email address")
                    )
                    .append($('<input>')
                      .attr("class", "form-control")
                      .attr("id", "newEmail")
                      .attr("type", "email")
                      .attr("name", "emailAddress")
                      .attr("placeholder", "Add your email to join!")
                    )
                    .append($('<input>')
                      .attr("type", "hidden")
                      .attr("name", "calendarId")
                      .attr("value", evt.calendarId)
                    )
                    .append($('<input>')
                      .attr("type", "hidden")
                      .attr("name", "title")
                      .attr("value", evt.title)
                    )
                  )
                )
                .append($('<div>')
                  .attr("class", "col-md-1")
                  .append($('<button>')
                    .attr("class", "btn btn-default")
                    .attr("type", "submit")
                    .text("Join")
                  )
                )
              )
            )
          );
        });
      });
    });
    </script>
</body>
</html>
