<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Studly</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {
        $.getJSON("/mappings.json", function(events) {
            var info = $("#info");
            $.each(events, function(i, v) {
                $(info).append($('<h3>').text(v.title));

                var div = $('<div>'); 
                $(info).append(div);
                $(div)
                .append($('<table>')
                    .append($('<tr>')
                        .append($('<td>')
                            .text("Next Event Date:")
                        )
                        .append($('<td>')
                            .text(v.nextStartTime)
                        )
                    )
                    .append($('<tr>')
                        .append($('<td>')
                            .text("Recurring Event")
                        )
                        .append($('<td>')
                            .text(v.recurringTime)
                        )
                    )
                    .append($('<tr>')
                        .append($('<td>')
                            .text("Location:")
                        )
                        .append($('<td>')
                            .text(v.location)
                        )
                    )
                );

                var table = $('<table>');
                $(div).append(table);
                $.each(v.reflectorList, function(i, r) {
                    $(table)
                    .append($('<tr>')
                        .append($('<td>')
                            .text(r)
                        )
                        .append($('<td>')
                            .append($('<form>')
                                .attr("action", "leave")
                                .attr("method", "POST")
                                .append($('<input>')
                                    .attr("type", "submit")
                                    .attr("value", "Remove")
                                )
                                .append($('<input>')
                                    .attr("type", "hidden")
                                    .attr("name", "email")
                                    .attr("value", r)
                                )
                                .append($('<input>')
                                    .attr("type", "hidden")
                                    .attr("name", "event")
                                    .attr("value", v.title)
                                )
                            )
                        )
                    )
                });

                $(div)
                .append($('<form>')
                    .attr("action", "join")
                    .attr("method", "POST")
                    .append($('<input>')
                        .attr("type", "text")
                        .attr("name", "email")
                        .attr("placeholder", "email")
                    )
                    .append($('<input>')
                        .attr("type", "hidden")
                        .attr("name", "event")
                        .attr("value", v.title)
                    )
                    .append($('<input>')
                        .attr("type", "submit")
                        .attr("value", "Join!")
                    )
                );
            });
        });
        $("#info").accordion();
    });
    </script>
</head>

<body>
    <h1>Studly</h1>
    <h2>Groups</h2>
    <div id="info"></div>
</body>
</html>
