<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Studly</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- TEMP source -->
    <script src="./js/groups.js"></script>
</head>

<body>
    <h1>Studly</h1>
    <h2>Join a Study Group</h2>
    <div id="grp"></div>
</body>
</html>
