<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Studly</title>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {
        var groups = [
            {name: "foo", list: ["bar@foo", "gii@foo"]},
            {name: "bar", list: ["foo@bar", "gii@bar"]}
        ];
        var refs = $("#refs");
        $(refs).accordion();
        $.each(groups, function(i, v) {
            $(refs).append($('<h3>').text(v.name));

            var div = $('<div>'); 
            $(refs).append(div);

            var table = $('<table>');
            $(div).append(table);

            $.each(v.list, function(i, v) {
                $(table)
                .append($('<tr>')
                    .append($('<td>')
                        .text(v)
                    )
                    .append($('<td>')
                        .append($('<input>')
                            .attr("type", "button")
                            .attr("value", "Remove")
                            .attr("name", v)
                            .click(function() {
                                alert("Remove " + v + "?")
                            })
                        )
                    )
                )
            });
            $(div)
            .append($('<input>'))
            .append($('<input>')
                .attr("type", "button")
                .attr("value", "Add email")
            );
        });
    });
    </script>
</head>

<body>
    <h1>Studly</h1>
    <h2>Studly List Manager</h2>
    <div id="refs"></div>
</body>
</html>
