<!DOCTYPE html>
<html>
<head>
    <title>Studly</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
    $(document).ready(function() {
        var groups = [{name: "foo@bar"}, {name: "bar@foo"}]
        $.each(groups, function(i, v) {
            $("#tbl").find('tbody')
                .append($('<tr>')
                    .append($('<td>')
                        .text(v.name)
                    )
                    .append($('<td>')
                        .append($('<input>')
                            .attr("type", "button")
                            .attr("value", "Remove")
                            .attr("name", v.name)
                            .click(function() {
                                alert("Remove " + v.name + "?")
                            })
                        )
                    )
                );
        });
    });
    </script>
</head>

<body>
    <h1>Studly</h1>
    <table id="tbl">
        <th>ReflectorList1</th>
    </table>
    <p>
    <form>
        <input>
        <input type="submit" value="Add email">
    </form>
        <form name="reflectors" action="/reflectors" method="post">
        FILE : <input type="text" name="file"><br>
        <input type="submit">
    </form>
    
</body>
</html>
